<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="../../static/login/login.css">
    <link rel="preload" id="bgImg" href="../../static/login/images/background11.jpg" as="image">
    <script >
        var loginBoxStatus="login";

        function loginFormFun(){
            var loginBoxObj=document.getElementById("loginBox");

            var loginBoxStyle=window.getComputedStyle(loginBoxObj,null);
            var loginBoxPos=parseInt(loginBoxStyle.height);

            var loginButton=document.getElementsByClassName("button");
            var button_=loginButton[0].getElementsByTagName("button");

            var registerFormObj=document.getElementById("registerForm");
            var loginFormObj=document.getElementById("loginForm");

            if(loginBoxStatus=="register"){
                loginBoxStatus="login";
                button_["login"].innerHTML="登录";
                
                loginFormObj.style="display:block";
                registerFormObj.style="display:none";

                var id=setInterval(frame,5);
                function frame(){
                    if (loginBoxPos<=100){
                        clearInterval(id);
                    }
                    else{
                        loginBoxPos-=5;
                        loginBoxObj.style.height=loginBoxPos+"px";
                    }
                }
            }
            else if(loginBoxStatus=="login"){
                loginFormObj.submit();
            }
        }

        function registerFormFun(){
            var loginBoxObj=document.getElementById("loginBox");

            var loginBoxStyle=window.getComputedStyle(loginBoxObj,null);
            var loginBoxPos=parseInt(loginBoxStyle.height);

            var loginButton=document.getElementsByClassName("button");
            var button_=loginButton[0].getElementsByTagName("button");

            var registerFormObj=document.getElementById("registerForm");
            var loginFormObj=document.getElementById("loginForm");

            if(loginBoxStatus=="login"){
                loginBoxStatus="register";
                button_["login"].innerHTML="返回";

                loginFormObj.style="display:none";
                registerFormObj.style="display:block";

                var id=setInterval(frame,5);
                function frame(){
                    if (loginBoxPos>=450){
                        clearInterval(id);
                    }
                    else{
                        loginBoxPos+=5;
                        loginBoxObj.style.height=loginBoxPos+"px";
                    }
                }
                return false;
            }
            else if(loginBoxStatus=="register"){
                registerFormObj.submit();
            }
            
        }
    </script>
</head>
<body>
    <div id="loginBox">
        <form class="form" id="loginForm" method="POST">
            {% csrf_token %}
            <input class="usernameInput" type="text" name="username" placeholder="用户名">
            <input class="passwordInput" type="password" name="password" placeholder="密码">
        </form>
        <form class="form" id="registerForm" method="POST">
            {% csrf_token %}
            <input type="text" id="usernameRegister" name="usernameRegister"> </input>
            <label for="usernameRegister">用户名:</label><br>
            <input type="text" id="realName" name="realName" >
            <label for="realName">真实姓名:</label><br>
            <input type="text" name="studentID">
            <label for="studentID">学号:</label><br>
            <input type="text" name="invitationCode">
            <label for="invitationCode">邀请码:</label><br>
            <input type="password" name="registerPassword">
            <label for="password">密码:</label><br>
            <input type="password" name="confirmRegisterPassword">
            <label for="confirmPassword">确认密码:</label><br>        
        </form>
        <div class="button">
            <span class="loginButton">
                <button type="button" name="login" onclick="loginFormFun()">登录</button>
            </span>
            <span class="registerButton">
                <button type="button" name="register"  onclick="registerFormFun()">注册</button>
            </span>
        </div>

    </div>
</body>
</html>