<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="../../static/login/login.css">
    <link rel="preload" id="bgImg" href="../../static/login/images/background11.jpg" as="image">
    <script >
        var loginBoxStatus="login";

        function loginForm(){
            var loginBoxObj=document.getElementById("loginBox");

            var loginBoxStyle=window.getComputedStyle(loginBoxObj,null);
            var loginBoxPos=parseInt(loginBoxStyle.height);

            var loginButton=document.getElementsByClassName("button");
            var button_=loginButton[0].getElementsByTagName("button");

            var formObj=document.getElementsByClassName("form");
            var inputDivList=formObj[0].getElementsByTagName("div");

            if(loginBoxStatus=="register"){
                loginBoxStatus="login"
                button_["login"].innerHTML="登录";
                
                inputDivList[0].style="display:block";
                inputDivList[1].style="display:none";

                var id=setInterval(frame,5);
                function frame(){
                    if (loginBoxPos<=100){
                        clearInterval(id);
                    }
                    else{
                        loginBoxPos-=5;
                        loginBoxObj.style.height=loginBoxPos+"px";
                    }
                }
            }
        }

        function registerForm(){
            var loginBoxObj=document.getElementById("loginBox");

            var loginBoxStyle=window.getComputedStyle(loginBoxObj,null);
            var loginBoxPos=parseInt(loginBoxStyle.height);

            var loginButton=document.getElementsByClassName("button");
            var button_=loginButton[0].getElementsByTagName("button");

            var formObj=document.getElementsByClassName("form");
            var inputDivList=formObj[0].getElementsByTagName("div");

            if(loginBoxStatus=="login"){
                loginBoxStatus="register"
                button_["login"].innerHTML="返回";

                inputDivList[0].style="display:none";
                inputDivList[1].style="display:block"

                var id=setInterval(frame,5);
                function frame(){
                    if (loginBoxPos>=450){
                        clearInterval(id);
                    }
                    else{
                        loginBoxPos+=5;
                        loginBoxObj.style.height=loginBoxPos+"px";
                    }
                }
            }
            else if(loginBoxStatus=="register"){
                loginBoxObj.submit()
            }
            
        }
    </script>
</head>
<body>
    <form id="loginBox" name="allForm" method="POST">
        <div class="form">
            <div class="loginInput">
                <input class="usernameInput" type="text" name="username" placeholder="用户名">
                <input class="passwordInput" type="password" name="password" placeholder="密码">
            </div>
            <div class="registerInput" style="display:none">
                <input type="text" id="usernameRegister" name="usernameRegister"> </input>
                <label for="usernameRegister">用户名:</label><br>
                <input type="text" id="realName" name="realName" >
                <label for="realName">真实姓名:</label><br>
                <input type="text" name="studentID">
                <label for="studentID">学号:</label><br>
                <input type="text" name="inviteCode">
                <label for="inviteCode">邀请码:</label><br>
                <input type="password" name="passwordRegister">
                <label for="password">密码:</label><br>
                <input type="password" name="confirmPassword">
                <label for="confirmPassword">确认密码:</label><br>
            </div>            
        </div>
        <div class="button">
            <span class="loginButton">
                <button type="button" name="login" onclick="loginForm()">登录</button>
            </span>
            <span class="registerButton">
                <button type="button" name="register"  onclick="registerForm()">注册</button>
            </span>
            
        </div>
    </form>
</body>
</html>